
li {
    list-style-type: none;
}

.content-block {
    display: inline-flex;
    min-height: 100px;
}

.container {
    padding: 0;
    margin-left: 18px;
}

.content {
    transition: all .2s ease;
}

.content:hover {
    transform: scale(1.1);
}

.tree-block {
    float: right;
}

/*styles for buttons*/
.button-block {
    width: 150px;
    float: left;
}

.button {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button-save:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.button-save {
    text-align: center;
    display: inline-block;
    top: 50%;
    position: fixed;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #0f9d58;
    color: #fff;
}

.button-remove {
    margin-left: 15px;
}

.button-remove__image {
    width: 15px;
    height: 15px;
}

.button-remove__image:hover {
    content: url("images/error-icon-hover.png");
}

/*end of styles for buttons*/

.node .node-elements {
    display: inline-flex;
}
